<h1>Muốn xoá sản phẩm với thông tin sau phải không ?</h1>
<div [hidden]="deleted" class="div-size">
  <table class="table-size">
    <tr>
      <td class="td-font td-size">tiêu đề</td>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <td class="td-font td-size">Tác giả</td>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <td class="td-font td-size"> Mô tả</td>
      <td>{{book.description}}</td>
    </tr>
  </table>

  <button class="btn btn-danger"(click)="deleteThisBook()">Xoá</button>
</div>
<div [hidden]="!deleted">{{message}}</div>
<button  class="btn btn-success" routerLink="">Thoát</button>

